.Chat{
  height: 100vh;
}.body{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}.mb{
height: 10vh;
}.lode{
border-left: 2px solid gray;
border-top: 2px solid gray;
  width: 130px;
  height: 130px;
  border-radius: 100px;
  animation: loding 0.4s infinite;
}.lodeh{
  display: flex;
justify-content: center;
align-items: center;
height: 100vh;
flex-direction: column;
}
@keyframes loding{
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(360deg);
  }
}