.foot{
position: fixed;
bottom: 0;
background: white;
width: 100vw;
}.ft{
  display: flex;
margin-bottom: 15px;
  }.send{
  width: 35px;
  height: 40px;
  align-items: center;
  transform: translate(-15px);
}.msg{
  width: 80vw;
  margin-left: 4vw;
  height: 40px;
  border-radius: 10px;
  outline: none;
  resize: none;
  border: 1px solid;
  padding-right: 33px;
}.act{
  width: 25px;
  height: 30px;
  margin-left: 2vw;
  align-items: center;
  transform: translate(-40px) rotate(220deg);
  align-items: center;
  margin-top: 8px;
}.file{
  display: none;
}