@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
.head{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;
}.lc{
font-family: 'Grape Nuts', cursive;
}.dp{
  width: 40px;
}.on{
  font-family: 'Grape Nuts', cursive;
}